<div class="container pt-3">
  <div class="d-flex align-items-center justify-content-between">
    <h4>Per ID</h4>
    <!-- Search input -->
    <app-input
      (onSearch)="search($event)"
      (onDebounce)="suggestions($event)"
    ></app-input>
  </div>
  <hr />

  <!-- Error Message -->
  <div *ngIf="isError" class="alert alert-danger w-50">
    Nothing found with the ID: "{{ term }}".
  </div>

  <!-- Info Panel -->
  <div *ngIf="!isError">
    <app-movie [movie]="movie" [isEmpty]="isEmpty"></app-movie>
  </div>
</div>
