<div class="row">
  <div class="col col-sm-4 mt-4">
    <img
      class="rounded shadow"
      src="{{ movie.Poster }}"
      alt="Poster of the movie"
      loading="lazy"
      [ngStyle]="{
        'min-height': '100px',
        visibility: imageLoaded ? 'visible' : 'hidden'
      }"
      (load)="onImageLoad()"
    />
  </div>
  <div *ngIf="!isEmpty" class="col-3 mt-4">
    <h5>
      Titulo: <span class="fst-italic fw-normal">{{ movie.Title }}</span>
    </h5>
    <br />
    <h5>
      Year: <span class="fst-italicfw-normal">{{ movie.Year }}</span>
    </h5>
    <br />
    <h5>
      Type:
      <span class="fst-italic fw-normal">{{ movie.Type | titlecase }}</span>
    </h5>
    <br />
    <h5>
      Genre:
      <span class="fst-italic fw-normal">{{ movie.Genre | titlecase }}</span>
    </h5>
    <br />
  </div>
</div>
<div *ngIf="!isEmpty" class="row mt-4">
  <div class="col-10">
    <h5>
      Plot:
      <span class="fw-normal lh-base fst-italic">{{ movie.Plot }}</span>
    </h5>
  </div>
</div>
