<div class="container pt-3">
  <div class="d-flex align-items-center justify-content-between">
    <h4>Per Title</h4>
    <!-- Search input -->
    <app-input
      (onSearch)="search($event)"
      (onDebounce)="suggestions($event)"
    ></app-input>
  </div>
  <hr />

  <!-- Error Message -->
  <div *ngIf="isError" class="alert alert-danger w-50">
    Nothing found with the title: "{{ term }}".
  </div>

  <!-- Movie Cards -->
  <div *ngIf="!isError">
    <app-cards [movies]="movies"></app-cards>
  </div>
</div>
