<div class="container pt-3">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h4>Per Title</h4>
    </div>

    <div class="d-flex align-items-center">
      <!-- Pagination -->
      <nav aria-label="Pagination of the website">
        <ul class="pagination pagination-sm mb-0 me-2">
          <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
      </nav>

      <!-- Search input -->
      <app-input
        (onSearch)="search($event)"
        (onDebounce)="suggestions($event)"
      ></app-input>
    </div>
  </div>
  <hr />

  <!-- Error Message -->
  <div *ngIf="isError" class="alert alert-danger w-50">
    Nothing found with the title: "{{ term }}".
  </div>

  <!-- Movie Cards -->
  <div *ngIf="!isError">
    <app-cards [movies]="movies"></app-cards>
  </div>
</div>
