<div class="container pt-3">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h4>Per Type</h4>
    </div>

    <div class="d-flex align-items-center">
      <!-- Dropdown Type Menu -->
      <div class="dropstart me-2">
        <button
          class="btn btn-outline-secondary btn-sm dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Type
        </button>
        <ul class="dropdown-menu">
          <li>
            <button
              class="btn btn-secondary dropdown-item"
              (click)="perType('movie')"
            >
              Movie
            </button>
          </li>
          <li>
            <button
              class="btn btn-secondary dropdown-item"
              (click)="perType('series')"
            >
              Series
            </button>
          </li>
          <li>
            <button
              class="btn btn-secondary dropdown-item"
              (click)="perType('episode')"
            >
              Episode
            </button>
          </li>
        </ul>
      </div>
      <!-- Pagination -->
      <!-- <div class="btn-group me-2" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm"
            (click)="previousPage()"
          >
            <span aria-hidden="true">&laquo;</span> Previous
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm"
            (click)="nextPage()"
          >
            Next <span aria-hidden="true">&raquo;</span>
          </button>
        </div> -->

      <!-- Search input -->
      <app-input
        (onSearch)="search($event)"
        (onDebounce)="suggestions($event)"
      ></app-input>
    </div>
  </div>
  <hr />

  <!-- Error Message -->
  <div *ngIf="isError" class="alert alert-danger w-50">
    Nothing found with the title: "{{ term }}".
  </div>

  <!-- Movie Cards -->
  <div *ngIf="!isError">
    <app-cards [movies]="movies"></app-cards>
  </div>
</div>
